@model RoomM.Models.Rooms.Room

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <section class="room_details">
        <header>
            <h2>Room</h2>
        </header>
        <p>
            <span class="label">@Html.LabelFor(model => model.Name)</span>
            <span>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </span>
        </p>
        <p>
            <span class="label">@Html.LabelFor(model => model.DateCreate)</span>
            <span>
                @Html.EditorFor(model => model.DateCreate)
                @Html.ValidationMessageFor(model => model.DateCreate)
            </span>
        </p>
        <p>
            <span class="label">@Html.LabelFor(model => model.RoomTypeId)</span>
            <span>
                @Html.EditorFor(model => model.RoomTypeId)
                @Html.ValidationMessageFor(model => model.RoomTypeId)
            </span>
        </p>
         @Html.HiddenFor(model => model.ID)
        <p>
            <input type="submit" value="Save" />
        </p>
    </section>
    
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
