@model RoomM.Models.Staffs.Staff

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/SomeScript.js")"></script>       
}

@{
    ViewBag.Title = "Index";
}


@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "divProgess";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;    
}


<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Staff</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sex)
            @Html.ValidationMessageFor(model => model.Sex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StaffTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StaffTypeId)
            @Html.ValidationMessageFor(model => model.StaffTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordStored)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswordStored)
            @Html.ValidationMessageFor(model => model.PasswordStored)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsWorking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsWorking)
            @Html.ValidationMessageFor(model => model.IsWorking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastLogin)
            @Html.ValidationMessageFor(model => model.LastLogin)
        </div>

        @Html.HiddenFor(model => model.ID)

        <p>
            <input type="submit" value="Save" />
        </p>

        

    </fieldset>
}

<div>
    <input type="button" value="Go to google" onclick="showDialog()"/>
    @{ Ajax.ActionLink("Click here to invoke ProcessLink action.", "ProcessLink", options); }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
<div id="divProgess">
    <img src="@{ Url.Content("~/Images/orderedList9.png"); }" />
</div>
<div id="divResponse"></div>
<div id="divMsg"></div>
    
    